<html >
    <head>
        {% load static %}

        <link type="text/css" rel=stylesheet href="/static/bootstrap-3.3.6-dist/css/bootstrap.min.css">
        <link type="text/css" rel=stylesheet href="/static/bootstrap-3.3.6-dist/css/bootstrap.css">
        <link type="text/css" rel=stylesheet href="/static/bootstrap-3.3.6-dist/css/bootstrap-theme.min.css">
        <link type="text/css" rel=stylesheet href="/static/bootstrap-3.3.6-dist/css/bootstrap-theme.css">
        <link type="text/css" rel=stylesheet href="/static/bootstrap-3.3.6-dist/js/bootstrap.min.js">
        <link type="text/css" rel=stylesheet href="/static/bootstrap-3.3.6-dist/js/bootstrap.js">
        <link type="text/css" rel=stylesheet href="/static/simple-sidebar.css">
        <link type="text/css" rel=stylesheet href="/static//bootstrap.min.css">

        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>       
    <script src="/static/js/index.js"></script>
    <link rel=stylesheet href="/static/css/index.css">
</head>

<body >
    
  <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
     <div class="container">
         <div class="navbar-header">
            <h3 class="navbar-brand"  style=font-size:30px;>CloudCV GSoC 2016-Toy Computer Vision IDE></h3>
        </div>
     </div>
  </nav>
  
    

        <!-- Sidebar -->
<div id="sidebar-wrapper">
    <ul class="sidebar-nav">
        <div  class=side >
            <form action="" id=form class="sidebar-brand">
                  <input type=button class=image1 name="resize" value=RESIZE onclick=func("resize")><br>
                  <input type=button class=image2 name="blur" value=BLUR onclick=func("blur")><br>
                  <input type=button class=image3 name="rotate" value=ROTATE onclick=func("rotate")><br>
            </form>
                  <input type=button name="Clear"class=clear value="CLEAR PIPELINE" onClick=cl()></br>
         </div>
     </ul>
</div>
    
       

<div class=temp >
    <h4>Temporary pipeline</h4>
        <input type=button value="SAVE PIPELINE" class=sp onClick=save_temp_pipe() ><br>
         <select id="ppl" ></select>
</div>
        
<div class=db >
    <h4>Pipelines in database</h4>
        <input type=button value="SAVE IN DB" class=sp onClick=save_pipe()><br>
         <select id="demo" onchange=func_pipe() >
           {% for item in data%}
              <option value="{{item.pipeline_data}}">{{item.pipeline_data}}</option>
           {%endfor%}
         </select>
</div>
       

<div class=load>
        <form action="" id="myform" >
        <input type=file id=img accept=image onchange=openFile(event)>
        <input type=submit  value="Submit" onclick=run(event)>
        </form>
</div>

<div id="imgid" >
<img id='output'  src="" alt='Upload image' >
</div></br>
   
    <div id="photo">
         </div>

</body>
</html>